@import "tailwindcss";

:root {
  --background: oklch(0.98 0.01 93.48);
  --foreground: oklch(0.27 0 0);
  --card: oklch(0.98 0.01 93.48);
  --card-foreground: oklch(0.19 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.27 0.02 99.70);
  --primary: oklch(0.62 0.14 39.15);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(29.276% 0.00175 106.803);
  --secondary-foreground: oklch(95.999% 0.00923 100.096);
  --muted: oklch(0.93 0.02 91.55);
  --muted-foreground: oklch(0.61 0.01 91.49);
  --accent: oklch(0.62 0.14 39.15);
  --accent-foreground: oklch(0.97 0.01 93.49);
  --destructive: oklch(63.231% 0.22975 26.874);
  --border: oklch(0.88 0.01 100.76);
  --input: oklch(0.76 0.02 96.91);
  --ring: oklch(0.59 0.17 252.92);
  --chart-1: oklch(40.157% 0.25762 270.24);
  --chart-2: oklch(86.6% 0.18566 111.074);
  --chart-3: oklch(47.34% 0.08456 289.688);
  --chart-4: oklch(53.784% 0.23946 328.281);
  --chart-5: oklch(78.377% 0.26267 142.761);
  --chart-6: oklch(56.777% 0.22704 28.657);
  --chart-7: oklch(81.093% 0.00009 271.152);
  --sidebar: oklch(0.97 0.01 93.49);
  --sidebar-foreground: oklch(0.36 0.01 106.85);
  --sidebar-primary: oklch(0.62 0.14 39.15);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.92 0.01 87.42);
  --sidebar-accent-foreground: oklch(0.33 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);

  --font-sans: 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 0.5rem;

  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);

}

.dark {
  --background: oklch(0.27 0 0);
  --foreground: oklch(0.81 0.01 93.53);
  --card: oklch(0.27 0 0);
  --card-foreground: oklch(0.98 0.01 93.48);
  --popover: oklch(0.31 0 0);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.67 0.13 38.92);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.98 0.01 93.48);
  --secondary-foreground: oklch(0.31 0 0);
  --muted: oklch(0.22 0 0);
  --muted-foreground: oklch(0.77 0.02 100.64);
  --accent: oklch(0.67 0.13 38.92);
  --accent-foreground: oklch(0.97 0.01 93.49);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(1.00 0 0);
  --input: oklch(0.43 0.01 99.03);
  --ring: oklch(1.00 0 0);
  --chart-1: oklch(40.157% 0.25762 270.24);
  --chart-2: oklch(86.6% 0.18566 111.074);
  --chart-3: oklch(0.31 0.05 289.74);
  --chart-4: oklch(53.784% 0.23946 328.281);
  --chart-5: oklch(78.377% 0.26267 142.761);
  --chart-6: oklch(56.777% 0.22704 28.657);
  --chart-7: oklch(100% 0.00011 271.152);
  --sidebar: oklch(0.24 0 0);
  --sidebar-foreground: oklch(0.81 0.01 93.53);
  --sidebar-primary: oklch(0.33 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.17 0 0);
  --sidebar-accent-foreground: oklch(0.81 0.01 93.53);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);

  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* Clean Eye button in input */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}