@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%; /* black */
    --foreground: 0 0% 98%; /* white */
    --btn: 0 0% 98%; /* white */
    --btn-add: 74, 32%, 32%; /* light green */
    --card: 0 0% 10%; /* dark gray */
    --card-foreground: 0 0% 40%; /* light gray */
    --popover: 0 0% 3.9%; /* black */
    --popover-foreground: 0 0% 98%; /* white */
    --primary: 0 0% 98%; /* white */
    --primary-muted: 0 0% 40%; /* light gray */
    --primary-foreground: 0 0% 9%; /* black */
    --secondary: 0 0% 100%; /* black */
    --secondary-foreground: 0 0% 98%; /* white */
    --muted: 0 0% 14.9%; /* dark gray */
    --muted-foreground: 0 0% 100%; /* white */
    --accent: 0 0% 14.9%; /* dark gray */
    --accent-foreground: 0 0% 98%; /* white */
    --destructive: 0 62.8% 30.6%; /* red */
    --destructive-foreground: 0 0% 98%; /* white */
    --border: 0 0% 14.9%; /* dark gray */
    --input: 0 0% 14.9%; /* dark gray */
    --ring: 0 0% 83.1%; /* light gray */
    --chart-1: 224 100% 58%; /* Applied */
    --chart-2: 33 100% 50%; /* Interview */
    --chart-3: 191 100% 52%;  /* Second interview  */
    --chart-4: 275 100% 50%; /* Third interview  */
    --chart-5: 73 100% 45%; /* Offer -  */
    --chart-6: 339 100% 50%; /* Rejection  */
    --chart-7: 195 49% 84%;  /* Ghosted  */
    --color-applied: hsl(var(--chart-1));
    --color-interview: hsl(var(--chart-2));
    --color-second-interview: hsl(var(--chart-3));
    --color-third-interview: hsl(var(--chart-4));
    --color-offer: hsl(var(--chart-5));
    --color-rejected: hsl(var(--chart-6));
    --color-ghosted: hsl(var(--chart-7));
    --radius: 0.5rem;
    --svg-fill:white; /* white */
    --table: hsl(var(--background));
    --table-hover: 0 0% 14.9%; /* dark gray */
    --link-btn: 0 0 98%; /* white */ 
    --link-btn-text: 0 0% 3.9%; /* black */    
  }

  .light {
    --background: 52, 94%, 94%; /* beige */
    --foreground: 52, 94%, 94%; /* beige */
    --btn: 52, 94%, 94%; /* beige */
    --btn-add: 88, 38%, 15%; /* light green */
    --card: 74, 32%, 32%; /* light green */
    --card-foreground: 88, 38%, 15%; /* dark green */
    --primary: 74, 32%, 32%; /* light green */
    --primary-muted: 88, 38%, 15%; /* dark green */
    --primary-foreground: 0 0% 9%; /* black */
    --secondary: 52 94% 94%; /* white */
    --secondary-foreground: 0 0% 98%; /* white */
    --muted: 52, 94%, 94%; /* beige */
    --muted-foreground: 74, 32%, 32%; /* light green */
    --accent: 74, 32%, 32%; /* dark green */
    --accent-foreground: 0 0% 98%; /* white */
    --destructive: 0 62.8% 30.6%; /* red */
    --destructive-foreground: 0 0% 98%; /* white */
    --border: 88, 38%, 15%; /* dark green */
    --input: 52, 94%, 94%; /* beige */
    --ring: 0 0% 83.1%; /* light gray */
    --chart-1: 224 100% 58%; /* Applied */
    --chart-2: 33 100% 50%; /* Interview */
    --chart-3: 191 100% 52%;  /* Second interview  */
    --chart-4: 275 100% 50%; /* Third interview  */
    --chart-5: 73 100% 45%; /* Offer -  */
    --chart-6: 339 100% 50%; /* Rejection  */
    --chart-7: 195 49% 84%;  /* Ghosted  */
    --color-applied: hsl(var(--chart-1));
    --color-interview: hsl(var(--chart-2));
    --color-second-interview: hsl(var(--chart-3));
    --color-third-interview: hsl(var(--chart-4));
    --color-offer: hsl(var(--chart-5));
    --color-rejected: hsl(var(--chart-6));
    --color-ghosted: hsl(var(--chart-7));
    --radius: 0.5rem;
    --svg-fill:hsl(var(--card));
    --table: 52, 94%, 94%; /* beige */
    --table-hover: 52 94% 86%; /* light beige */
    --link-btn: 74, 32%, 32%; /* light green */
    --link-btn-text: 52, 94%, 94%; /* beige */
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground flex flex-col min-h-screen;
  }
  html {
    @apply bg-background overscroll-none;
  }
}